<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    
</head>
<body>
   <form action="">
       <input type="text" class="reg-login" placeholder="Логин"><br><br>
        <input type="password" class="reg-pass" placeholder="Пароль"><br><br>
        <input type="password" class="reg-pass-check" placeholder="Подтвердите пароль"><br><br>
        <input type="text" class="reg-name" placeholder="Введите имя"><br><br>
        <input type="text" class="reg-surname" placeholder="Введите фамилию"><br><br>
        <input type="text" class="reg-num-group" placeholder="Номер группы"><br><br>
        <input type="email" class="reg-email" placeholder="mail@mail.ru"><br><br>
        <input type="tel" class="reg-tel" placeholder="+7 (999) 123-24-25"><br><br>
        <input type="button" id="submit-btn" value="Кнопка">
   </form>
    <div class="status"></div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" defer></script>
	<script src="/js/login.js" defer></script>
</body>
</html>