<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header class="header">
        <div class="header__wrapper">
            <ul class="menu header__menu">
                <li class="menu-link menu-link--active"><a href="#">Работы</a></li>
                <li class="menu-link"><a href="#">На проверке</a></li>
                <li class="menu-link"><a href="#">Проверенные</a></li>
                <li class="menu-link"><a href="#">Доработать</a></li>
                <li class="menu-link"><a href="#">Пользователи</a></li>
            </ul>
            <form action="/search" name="signin" method="POST" autocomplete="off" class="form-search">
                <div class="form-search__input textbox">
                    <input type="text" placeholder="&nbsp;" class="textbox__input textbox__input--st-white">
                    <label class="textbox__label--white">Поиск...</label>
                    <i></i>
                </div>
                <button class="form-search__btn"></button>
            </form>
        </div>
    </header>
  
    <div class="account">
        <div class="account__wrapper">
            <div class="account__top">
                <p>Добрый день, <span>legasdev</span></p>
            </div>
        </div>
    </div>

    <main class="main">
        <div class="main__wrapper">
            <div class="main__menu">
                <ul class="menu menu--dark">
                    <li class="menu-link menu-link--active"><a href="#">Все работы</a></li>
                    <li class="menu-link"><a href="#">Лабораторные работы</a></li>
                    <li class="menu-link"><a href="#">Курсовые работы</a></li>
                </ul>
            </div>
            <div class="main__works">
                <div class="work">
                    <h4 class="work__name">Методы решения систем линейных уравнений</h4>
                    <div class="work__label work__label-username">ФИО: <span>Степанов А.А.</span></div>
                    <div class="work__label work__label-usergroup">Группа: <span>831222</span></div>
                    <div class="work__status work__status--ok">
                        <p>Подробнее</p>
                        <div class="work__status-more">...</div>
                    </div>
                </div>
                <div class="work">
                    <h4 class="work__name">Методы решения систем линейных уравнений</h4>
                    <div class="work__label work__label-username">ФИО: <span>Степанов А.А.</span></div>
                    <div class="work__label work__label-usergroup">Группа: <span>831222</span></div>
                    <div class="work__status work__status--wait">
                        <p>Подробнее</p>
                        <div class="work__status-more">...</div>
                    </div>
                </div>
                <div class="work">
                    <h4 class="work__name">Методы решения систем линейных уравнений</h4>
                    <div class="work__label work__label-username">ФИО: <span>Степанов А.А.</span></div>
                    <div class="work__label work__label-usergroup">Группа: <span>831222</span></div>
                    <div class="work__status work__status--bad">
                        <p>Подробнее</p>
                        <div class="work__status-more">...</div>
                    </div>
                </div>
                <div class="work">
                    <h4 class="work__name">Методы решения систем линейных уравнений</h4>
                    <div class="work__label work__label-username">ФИО: <span>Степанов А.А.</span></div>
                    <div class="work__label work__label-usergroup">Группа: <span>831222</span></div>
                    <div class="work__status work__status--ok">
                        <p>Подробнее</p>
                        <div class="work__status-more">...</div>
                    </div>
                </div>
                <div class="work">
                    <h4 class="work__name">Методы решения систем линейных уравнений</h4>
                    <div class="work__label work__label-username">ФИО: <span>Степанов А.А.</span></div>
                    <div class="work__label work__label-usergroup">Группа: <span>831222</span></div>
                    <div class="work__status work__status--ok">
                        <p>Подробнее</p>
                        <div class="work__status-more">...</div>
                    </div>
                </div>
                <div class="work">
                    <h4 class="work__name">Методы решения систем линейных уравнений</h4>
                    <div class="work__label work__label-username">ФИО: <span>Степанов А.А.</span></div>
                    <div class="work__label work__label-usergroup">Группа: <span>831222</span></div>
                    <div class="work__status work__status--bad">
                        <p>Подробнее</p>
                        <div class="work__status-more">...</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
</body>
</html>