<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header class="header">
        <div class="header__wrapper">
            <ul class="header__menu">
                <li class="header__menu-link header__menu-link--active"><a href="#">Работы</a></li>
                <li class="header__menu-link"><a href="#">На проверке</a></li>
                <li class="header__menu-link"><a href="#">Проверенные</a></li>
                <li class="header__menu-link"><a href="#">Доработать</a></li>
                <li class="header__menu-link"><a href="#">Пользователи</a></li>
            </ul>
            <form action="/search" name="signin" method="POST" autocomplete="off" class="form-search">
                <div class="form-search__input textbox">
                    <input type="text" placeholder="&nbsp;" class="textbox__input textbox__input--st-white">
                    <label class="textbox__label--white">Поиск...</label>
                    <i></i>
                </div>
                <button class="form-search__btn"></button>
            </form>
        </div>
        
    </header>
</body>
</html>