<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header class="header">
        <div class="header__wrapper">
            <ul class="menu header__menu">
                <li class="menu-link menu-link--active"><a href="#">Работы</a></li>
                <li class="menu-link"><a href="#">На проверке</a></li>
                <li class="menu-link"><a href="#">Проверенные</a></li>
                <li class="menu-link"><a href="#">Доработать</a></li>
                <li class="menu-link"><a href="#">Пользователи</a></li>
            </ul>
            <form action="/search" name="signin" method="POST" autocomplete="off" class="form-search">
                <div class="form-search__input textbox">
                    <input type="text" placeholder="&nbsp;" class="textbox__input textbox__input--st-white">
                    <label class="textbox__label--white">Поиск...</label>
                    <i></i>
                </div>
                <button class="form-search__btn"></button>
            </form>
        </div>
    </header>
  
    <div class="account">
        <div class="account__wrapper">
            <div class="account__top">
                <p>legasdev</p>
                <div class="account__settings-btn optional-btn optional-btn--settings">
                </div>
            </div>
            <div class="account__info">
                <p>Имя: <span>Артем</span></p>
                <p>Фамилия: <span>Степанов</span></p>
                <p>Группа: <span>381804м</span></p>
                <p>Почта: <span>mail@mail.ru</span></p>
                <p>Телефон: <span>+7 (123) 456-78-90</span></p>
            </div>
            <div class="account__info">
                <p>Загружено работ: <span>6</span></p>
                <p>На проверке: <span>1</span></p>
                <p>Проверено: <span>5</span></p>
                <p>Доработать: <span>2</span></p>
            </div>
            <div class="account__info">
                <p>Дата последненго визита:<br><span>21.12.2018 10:32</span></p>
            </div>
            <div class="account__exit">Выйти</div>
        </div>
        <div class="account__logos">
            <a href="http://unn.ru" title="Университет Лобачевского" class="logo logo--unn"></a>
        </div>
    </div>

    <main class="main">
        <div class="main__wrapper">
            <div class="main__menu">
                <ul class="menu menu--dark">
                    <li class="menu-link menu-link--active"><a href="#">Все работы</a></li>
                    <li class="menu-link"><a href="#">Лабораторные работы</a></li>
                    <li class="menu-link"><a href="#">Курсовые работы</a></li>
                </ul>
            </div>
            <div class="main__works">
                <div class="work">
                    <h4 class="work__name">Методы решения систем линейных уравнений</h4>
                    <div class="work__label work__label-firstname">Имя: <span>Артем</span></div>
                    <div class="work__label work__label-lastname">Фамилия: <span>Степанов</span></div>
                    <div class="work__label work__label-usergroup">Группа: <span>831222</span></div>
                    <div class="work__status work__status--ok">
                        <p>Подробнее</p>
                        <div class="optional-btn optional-btn--more work__status-more"></div>
                    </div>
                </div>
                <div class="work">
                    <h4 class="work__name">Методы решения систем линейных уравнений</h4>
                    <div class="work__label work__label-firstname">Имя: <span>Артем</span></div>
                    <div class="work__label work__label-lastname">Фамилия: <span>Степанов</span></div>
                    <div class="work__label work__label-usergroup">Группа: <span>831222</span></div>
                    <div class="work__status work__status--wait">
                        <p>Подробнее</p>
                        <div class="optional-btn optional-btn--more work__status-more"></div>
                    </div>
                </div>
                <div class="work">
                    <h4 class="work__name">Методы решения систем линейных уравнений</h4>
                    <div class="work__label work__label-firstname">Имя: <span>Артем</span></div>
                    <div class="work__label work__label-lastname">Фамилия: <span>Степанов</span></div>
                    <div class="work__label work__label-usergroup">Группа: <span>831222</span></div>
                    <div class="work__status work__status--bad">
                        <p>Подробнее</p>
                        <div class="optional-btn optional-btn--more work__status-more"></div>
                    </div>
                </div>
                <div class="work">
                    <h4 class="work__name">Методы решения систем линейных уравнений</h4>
                    <div class="work__label work__label-firstname">Имя: <span>Артем</span></div>
                    <div class="work__label work__label-lastname">Фамилия: <span>Степанов</span></div>
                    <div class="work__label work__label-usergroup">Группа: <span>831222</span></div>
                    <div class="work__status work__status--ok">
                        <p>Подробнее</p>
                        <div class="optional-btn optional-btn--more work__status-more"></div>
                    </div>
                </div>
                <div class="work">
                    <h4 class="work__name">Методы решения систем линейных уравнений</h4>
                    <div class="work__label work__label-firstname">Имя: <span>Артем</span></div>
                    <div class="work__label work__label-lastname">Фамилия: <span>Степанов</span></div>
                    <div class="work__label work__label-usergroup">Группа: <span>831222</span></div>
                    <div class="work__status work__status--ok">
                        <p>Подробнее</p>
                        <div class="optional-btn optional-btn--more work__status-more"></div>
                    </div>
                </div>
                <div class="work">
                    <h4 class="work__name">Методы решения систем линейных уравнений</h4>
                    <div class="work__label work__label-firstname">Имя: <span>Артем</span></div>
                    <div class="work__label work__label-lastname">Фамилия: <span>Степанов</span></div>
                    <div class="work__label work__label-usergroup">Группа: <span>831222</span></div>
                    <div class="work__status work__status--bad">
                        <p>Подробнее</p>
                        <div class="optional-btn optional-btn--more work__status-more"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="pop-up-btn">
        {{!-- <div class="pop-up-btn__shadow"></div> --}}
        <div class="pop-up-btn__wrapper">
            <div class="pop-up-btn__content">
                <div class="pop-up-btn__header">
                    <div class="pop-up-btn__close"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-3.3.1.min.js" defer></script>
    <script src="/js/panel.js" defer></script>
    
</body>
</html>